* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  min-height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 1rem 4rem;
  background: transparent;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

a i.fas.fa-chart-line {
  margin-right: 1rem;
}

a:hover {
  color: white;
  background: black;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header i.fas.fa-car {
  margin-left: 1rem;
}

.parking-lots {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lot {
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background: rgb(182, 236, 101);
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  transition: background 0.5s ease-in-out;
}

.lot.active .light {
  background: rgb(243, 74, 74);
}

.car {
  width: 150px;
  height: 250px;
}

.car img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.line {
  height: 400px;
  width: 10px;
  background: black;
  border-radius: 1rem;
}

.timer {
  opacity: 0;
  position: absolute;
  padding: 1rem;
  border-radius: 1rem;
  background: black;
  color: white;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.1s ease-in-out;
}

.summary {
  position: absolute;
  padding: 1rem;
  width: 100%;
  text-align: center;
  background: white;
  border-radius: 5px;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: none;
}

@keyframes car-in {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes car-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(500px);
  }
}
/* graph */

.chart {
  width: 600px;
  height: 600px;
}
.this {
  padding: 50px 70px;
  display: inline-table;
}
